
body{
    background-color:aquamarine;
}
.Funcbutton{
    height:200px;
    width:300px;
    border:2px solid black ;

}

h1{
    color:black;
   

}
.mainhead{
    position: absolute;
    margin-top: -330px;
}
button{
    height:60px;
    width:380px;
    border-radius:10px;
    border:2px solid black;
    margin: 20px;
}
.btn1{
    position:fixed;
    left:10%;
    top:125px;
}
.btn2{
    position:fixed;
    left:65%;
    top:125px;
}
.outerdiv{
   
    display:flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-top: 350px;
}
.Funcdiv{
    height:300px;
    width:500px;
    background-color: skyblue;
    border:2px solid black;
    border-radius:10px;
    text-align:center;
  
}
.classdiv{
    height:300px;
    width:500px;
    background-color: yellow;
    border:2px solid black;
    border-radius:10px;
    text-align:center;
}
